**/bin/
**/obj/
.vscode

public class SearchResult {
    [JsonPropertyName("result_count")]
    public int ResultCount { get; set; }

    [JsonPropertyName("products")]
    public Product[] Products { get; set; } = [];
}

public class Product {
    [JsonPropertyName("product_id")]
    public string ProductId { get; set; }

    [JsonPropertyName("product_name")]
    public string ProductName { get; set; } = string.Empty;

    [JsonPropertyName("stock_status")]
    public StockStatus StockStatus { get; set; } = new StockStatus();

    [JsonPropertyName("manufacturer_details")]
    public ManafacturerDetails ManafacturerDetails { get; set; } = new ManafacturerDetails();
}

public class StockStatus {
    [JsonPropertyName("is_available")]
    public bool IsAvailable { get; set; }

    [JsonPropertyName("quantity_on_hand")]
    public int QuantityOnHand { get; set; }

    [JsonPropertyName("warehouse_location")]
    public string WarehouseLocation { get; set; } = string.Empty;
}

public class ManafacturerDetails {
    [JsonPropertyName("company_name")]
    public string CompanyName { get; set; } = string.Empty;

    [JsonPropertyName("country_of_origin")]
    public string CountryOfOrigin { get; set; } = string.Empty;

    [JsonPropertyName("contact_email")]
    public string ContactEmail { get; set; } = string.Empty;
}
