<h4>Customer Options</h4>
<ul>
    <li><NavLink href="/my-orders">My Orders</NavLink></li>
    <li><NavLink href="/product-catalogue">Browse Product Catalogue</NavLink></li>
    <li><NavLink href="/support">Customer Support</NavLink></li>
</ul>