<h4>Customer Options</h4>
<ul>
    <li><NavLink href="/orders">My Orders</NavLink></li>
    <li><NavLink href="/products">Browse Products</NavLink></li>
    <li><NavLink href="/support">Customer Support</NavLink></li>
</ul>