<h4>Employee Options</h4>
<ul>
    <li><NavLink href="/manage-orders">Manage Orders</NavLink></li>
    <li><NavLink href="/reports">View Reports</NavLink></li>
    <li><NavLink href="/inventory">Inventory Management</NavLink></li>
</ul>